{
    "esURL": "http://esurl.com",
    "logLevel": "info",
    "groupings": [
        {"pattern": "2016", "mapboxAccount": "astrodigital", "mapboxID": "sentinel_meta_2016"},
        {"pattern": "2015", "mapboxAccount": "astrodigital", "mapboxID": "sentinel_meta_2015"}
    ],
    "mapboxToken": "write_token"
}
