{
    "esURL": "http://esurl.com",
    "logLevel": "info",
    "types": [
        {"baseName": "sentinel_meta_test", "startYear": 2015, "type": "sentinel2"},
        {"baseName": "landsat_meta_test", "startYear": 2013, "type": "landsat8"}
    ],
    "mapboxAccount": "account_name",
    "mapboxToken": "write_token"
}
